*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gradle/8.7/checksums/checksums.lock
.gradle/8.7/checksums/md5-checksums.bin
.gradle/8.7/checksums/sha1-checksums.bin
.gradle/8.7/executionHistory/executionHistory.bin
.gradle/8.7/executionHistory/executionHistory.lock
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/fileHashes/fileHashes.lock
.gradle/8.7/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.idea/deploymentTargetSelector.xml
app/build.gradle.kts
.idea/misc.xml
.idea/kotlinc.xml
.idea/gradle.xml
.idea/deploymentTargetSelector.xml
.idea/compiler.xml
.idea/caches/deviceStreaming.xml
.gradle/file-system.probe
.gradle/config.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.7/fileHashes/resourceHashesCache.bin
.gradle/8.7/fileHashes/fileHashes.lock
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/executionHistory/executionHistory.lock
.gradle/8.7/executionHistory/executionHistory.bin
.gradle/8.7/checksums/sha1-checksums.bin
.gradle/8.7/checksums/checksums.lock
build.gradle.kts
local.properties
